#drop_file_zone {
    background-color: #EEE;
    border: #3273dc 5px dashed;
    border-radius: 1rem;
    padding: 8px;
    font-size: 18px;
    margin-bottom: 1rem;
}
#drag_upload_file {
  width:100%;
  margin:0 auto;
}
#drag_upload_file p {
  text-align: center;
}
#drag_upload_file #selectfile {
  display: none;
}

.group {
    display:flex;
     flex-direction: row;
      justify-content: center;
       align-items: center;
}

.group > label {
    width: 5rem;
    display: flex;
    margin-right: 1rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.l-m {
    margin-right: 1rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    padding-top: 1rem;
}

.footer {
    margin-top: 4rem;
    padding-top: 3rem;
}

.text {
    margin-top: 2.5rem;
}